.registration-card {
    height: auto;
}

#pimg {
    width:20%;
    background-color: gray;
}

#profile-Details {
    width:80%;
}

form {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.mat-card-header {
    justify-content: center;
}

mat-card .mat-radio-button{
    margin: 0 12px;
  }
.mat-card-content {
    align-items: center;
}
.mat-form-field,button,mat-radio-group {
    margin: 0 12px;
    /* max-width: 40%; */
    align-self: center;
    width: auto;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.75em !important;
}

@media (max-width: 400px) {
    form {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    #pimg {
        width: 70%;
        background-color: gray;
        margin: 15px;
        align-self: center;
    }
    #profile-Details {
        width: 100%;
        text-align: end;
    }
    .mat-form-field {
        margin: 0 12px;
        width: 90%;
    }
}

@media (min-width: 401px) and (max-width: 750px) {
    form {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    #pimg {
        width: 50%;
        background-color: gray;
        margin: 15px;
        align-self: center;
    }
    #profile-Details {
        width: 100%;
        align-self: center;
        text-align: center;
    }
    .mat-form-field {
        margin: 0 12px;
        width: 90%;
    }
}