<div class="container">
  <div class="header">
    <div class="title">
      <h2>Personal Information Form</h2>
    </div>
    <div class="navbar">
      <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
        <mat-tab label="Personal Information">
          <app-registeration (registerFormCheck)="registerFormMessage($event)"></app-registeration>
          <app-contact-info (contactFormCheck)="contactFormMessage($event)"></app-contact-info>
          <app-family-info (familyInfoData)="familyInfoFormMessage($event)"></app-family-info>
          <app-emergency-contact-info (emergencyContactFormCheck)="emergencyContactFormCheck($event)"></app-emergency-contact-info>
          <!-- <hr> -->
        </mat-tab>
        <mat-tab label="Service Details" disabled> Service Details </mat-tab>
        <mat-tab label="Transition Details" disabled> Transition Details </mat-tab>
        <mat-tab label="Sponser Details" disabled> Sponser Details </mat-tab>
        <mat-tab label="Permissions" disabled> Permissions </mat-tab>
        <mat-tab label="Terms & Conditions" disabled> Terms & Conditions </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="btn-group">
  <!-- <button mat-raised-button [disabled]="registerForm.invalid" color="primary" (click)= "register(registerForm.value)">Save & Continue</button> -->
  <button mat-raised-button color="primary" [disabled]= "!registerFormValidity || !contactFormValidity || !emergencyContactFormValidity || !familyInfoFormValidity" (click) = "showMessage()">Save & Continue</button>
  <button mat-raised-button color="primary" disabled>Reset</button>
  <button mat-raised-button color="primary" [disabled]= "!registerFormValidity || !contactFormValidity || !emergencyContactFormValidity || !familyInfoFormValidity" (click) = "showMessage()">Continue</button>
  
      <mat-error *ngIf="successMessage" style="color: green;text-align: center;margin: 10px;font-weight: bold;">
        Registration Successfull.
      </mat-error>
  </div>
  
</div>