<mat-card class="registration-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Family Information</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="familyInfoForm">
      <!-- Value: {{ registerForm.value | json }} -->

      <span id="profile-Details">
        <mat-form-field appearance="outline">
          <mat-label>Martial Status*</mat-label>
          <mat-select [formControl]="martialStatus" [(value)]="selectedMartialStatus" (selectionChange)="checkFamilyInfoForm()">
            <mat-option *ngFor="let cp of martialStatusOptions" [value]="cp.value">{{cp.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="martialStatus.invalid && martialStatus.touched" class="has-text-danger">
            Please select your Martial Status
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Spouse Name</mat-label>
          <input matInput placeholder="Spouse Name" [formControl]="spouse">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="dob" placeholder="Date of Birth">
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Children</mat-label>
          <mat-select [formControl]="children" [(value)]="selectedChildren">
            <mat-option *ngFor="let cp of childrenOptions" [value]="cp.value">{{cp.name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </span>
    </form>
  </mat-card-content>

</mat-card>